.uiApp {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.uiApp-header {
	background: #eee;
	position: relative;
	width: 100%;
}

.uiApp-header H1 {
	font-size: 2em;
	margin-right: 20px;
}

.uiApp-headerMenu {
	padding: 0px 3px;
	display: flex;
}

.uiApp-headerMenu .active {
	background: white;
	border-bottom-color: white;
}

.uiApp-headerMenuItem {
	padding: 10px 15px;
	margin: 2px 1px 0;
	height: 14px;
	cursor: pointer;
}

.uiApp-body {
}

.uiApp-headerNewMenuItem {
	color: #1e88e5;
	font-size: 1.2em;
}

.uiApp-headerCloseMenuItem {
	font-size: 1.2em;
	color:  #e53935;
}
