.uiButton {
	padding: 0;
	border: 0;
	margin: 3px;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
}

.uiButton-content {
	height: 20px;
	border-radius: 2px;
	background: #2196f3;
	color: white;
	font-weight: bold;
	padding: 4px;
}

.moz .uiButton-content { margin: 0 -2px; }

.uiButton-label {
	padding: 2px 6px;
	white-space: nowrap;
}
.uiButton:hover .uiButton-content {
	background: #1976d2;
}
.uiButton.active .uiButton-content,
.uiButton:active .uiButton-content {
	background: #1565c0;
}
.uiButton.disabled .uiButton-content,
.uiButton.disabled:active .uiButton-content {
	border-color: #c6c6c6;
	color: #999999;
	background: #ddd;
}

.uiButton.disabled {
	cursor: default;
}
