.uiMenuPanel {
	border: 1px solid #b0bec5;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

.uiMenuPanel LI {
	list-style: none;
}

.uiMenuPanel LI:hover {
	background: #1e88e5;
}

.uiMenuPanel LI:last-child {
	border-bottom: 0;
} 

.uiMenuPanel-label {
	white-space: nowrap;
	cursor: pointer;
	padding: 5px 40px 5px 25px;
}

.disabled .uiMenuPanel-label {
	cursor: auto;
	color: #666;
}
