.uiMenuPanel {
	border: 1px solid #b0bec5;
	position: absolute;
	background: #90a4ae;
	color: white;
}

.uiMenuPanel LI {
	list-style: none;
}

.uiMenuPanel LI:hover {
	background: #546e7a;
}

.uiMenuPanel LI:last-child {
	border-bottom: 0;
} 

.uiMenuPanel-label {
	white-space: nowrap;
	cursor: pointer;
	padding: 5px 10px;
}

.disabled .uiMenuPanel-label {
	cursor: auto;
	color: #666;
}
